#merywrap {
  flex-wrap: wrap;
}

#merycards {
  display: flex;
}

#merybutton {
  background-color: rgb(238, 48, 56);
  width: 33%;
  border: none;
  outline: none;
}

#merycolorprimary {
  background-color: rgb(238, 48, 56);
}

#merybutton2 {
  color: white;
  background-color: rgb(238, 48, 56);
  border-radius: 20px;
  border: none;
  outline: none;
}

#merybutton3 {
  color: rgb(238, 48, 56);
  background-color: rgb(252, 252, 252);
  border-radius: 20px;
  border: 2px, solid, rgb(238, 48, 56);
  border-color: rgb(238, 48, 56);
  outline: none;
}
