:root {
  /*Color Palette*/
  --primary-color: #EE3037;
  --secondary-color: #C4C4C4;
  --white-color: white;
}

/* HEADER */
#merynav {
  justify-content: space-between;
}
<<<<<<< HEAD


=======
>>>>>>> df4264c35ce9ab30c2c7ca96e953d67f284f5da5
